In [ ]:
from nbdev import *

In [ ]:
%nbdev_default_export datapipe

Cells will be exported to jobkeep.datapipe,
unless a different module is specified after an export flag: `%nbdev_export special.module`

# Datapipe - Jobkeep App

> This is the module for creating the data pipeline.
> It can also be used to perform the data pre-processing and caching.

In [ ]:
%nbdev_export_internal
import os.path
import pandas as pd
#from dateutil.parser import parse
#import datetime as dt

In [ ]:
%nbdev_export

# TODO: use st.cache() and also look to pre-load and cache/feather data (or similar) - NB: use of @st.cache() below didn't work
def load_and_cache_raw_data():
    converters = {'Postcode': str}
    DATA_PATH = '/Users/mjboothaus/iCloud/Code/Github/jobkeep/data/' 
    DATA_FILE = 'JobKeeper-data-20200731.xlsx'
    CACHE_FILE = DATA_PATH + 'cache/' + DATA_FILE.replace('.xlsx', '.feather')
    
    if os.path.isfile(CACHE_FILE):
        df = pd.read_feather(CACHE_FILE)
        print('Using cached data file...')
    else:
        df = pd.read_excel(DATA_PATH + DATA_FILE, converters=converters, sheet_name='Data', skiprows=1, skipfooter=2)
        df.to_feather(CACHE_FILE)
    return df

In [ ]:
df = load_and_cache_raw_data()

Using cached data file...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2538 entries, 0 to 2537
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Postcode                 2538 non-null   object
 1   April Application Count  2538 non-null   int64
 2   May Application Count    2538 non-null   int64
dtypes: int64(2), object(1)
memory usage: 59.6+ KB

In [ ]:
df.head()

  Postcode  April Application Count  May Application Count
0     0800                      413                    429
1     0801                       15                     15
2     0810                      773                    787
3     0812                      316                    325
4     0820                      740                    754

In [ ]:
df.tail()

     Postcode  April Application Count  May Application Count
2533     7331                       46                     48
2534     7467                       26                     26
2535     7468                       38                     40
2536     7469                        8                      8
2537     9726                        5                      6